body {
    display: flex;
    flex-direction: column;
    font: Roboto;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4ABC8A;
    padding: 0 20%;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4ABC8A;
    color: #F9FAF8;
    padding: 5% 20%;
}

button {
    color: #543C88;
    font-size: medium;
    border-radius: 8px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #543C88;
}

.first {
    gap: 50px;
}

.first-left {
    width: 400px;
    flex-grow: 0;
}

.first-right {
    width: 400px;
    flex-grow: 0;
}

img {
    max-width: 100%;
    height: auto;
    /* Maintain aspect ratio */
    flex: 1 1 auto;
    /* Allow images to grow and shrink */
    object-fit: cover;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 20%;
}

.cards {
    display: flex;
    gap: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 200px;
    height: 200px;
}

.third {
    display: flex;
    flex-direction: column;
    background-color: #69789D;
    padding: 0 20%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: black;
}

.name {
    align-self: flex-end;
    font-weight: bold;
}

.fourth {
    display: flex;
    padding: 5% 20%;
}

.bluebox {
    background-color: #4ABC8A;
    flex: 1;
    padding: 3% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.text {
    width: 70%;
    color: #543C88;
}

.secondbutton {
    background-color: #543C88;
   color: white;
   border: 2px white solid;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #543C88;
}

.footertext {
    color: white;
}